* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f3f2;
}

.container {
    background: #d33a2c;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.items1 {
    position: relative;
    flex: 1.5;
}

.interior1 {
    position: absolute;
    top: 50px;
    left: 40px;
    background: #f6f3f2;
    width: 50px;
    height: 50px;
}

.interior2 {
    position: absolute;
    top: 55px;
    left: 100px;
    line-height: 30px;
}

.interior2 h3 {
    color: #fff;
    font: 700 25px/22px 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.interior2 h4 {
    color: #fff;
    font: 19px/22px 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.items2,
.items3,
.items4,
.items5,
.items6,
.items7 {
    position: relative;
}

.interiorAr1 {
    position: absolute;
    top: 10px;
    left: 60px;
    background: #fff;
    width: 38px;
    height: 43px;
}

.interiorAr2 {
    position: absolute;
    top: 70px;
    left: 20px;
    text-align: center;
    color: #fff;
}

.interiorAr2 h4 {
    font-size: 13px;
    color: #fff;
    margin-top: 10px;
}

.items2,
.items3,
.items4,
.items5,
.items6,
.items7 {
    flex: 1;
}

.box {
    height: 150px;
    margin: 10px;
}

.events {
    position: absolute;
    top: 70px;
    left: 2px;
}
.topic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.topic-item {
    display: flex;
    flex-direction: row;
    border: 2px solid #fff;
    padding: 18px 22px;
    border-radius: 10px;
}

.topic-item h3 {
    margin-left: 15px;
    color: #fff;
}

.first-section {
    position: relative;
}

.cla {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#abs {
    width: 380px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 485px;
    color: #333;
    background: white;
    font: 700 27px Georgia,'Times New Roman', Times, serif;
    text-align: center;
    word-spacing: 3px;
    padding: 0.3em 0.4em;
    line-height: 1.5em;
}

#art {
    width: 130px;
    margin: 0 auto;
    position: absolute;
    top: 120px;
    left: 610px;
    color: #333;
    background: white;
    font: 700 27px Georgia,'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.3em 0.4em;
    line-height: 1.8em;
}

.first-section button {
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #d33a2c;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    box-shadow: none;
    cursor: pointer;
}

.left {
    background: #94291f;
    height: 700px;
    flex: 1;
}

.right {
    background: #a92f23;
    height: 700px;
    flex: 1;
}

.second-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left2 {
    background: #6a1d16;
    height: 550px;
    flex: 1;
}

.right2 {
    background: #94291f;
    height: 550px;
    flex: 1;
}

.third-section {
    margin: 20px 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 600px;
}

.s-members {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.inner-member {
    margin: 0 20px;
}

.member1 {
    background: #006fc6;
    height: 350px;
    margin-top: 50px;
    flex: 1;
}

.supports {
    margin-top: -50px;
    padding-bottom: 100px;
}

.member2 {
    position: relative;
    background: #d33a2c;
    height: 650px;
    border-radius: 10px;
    flex: 2;
}

.member2-img {
    position: absolute;
    top: 30px;
    left: 200px;
    width: 350px;
    height: 250px;
}

.article-grid,
.article-flex {
    margin-top: 70px;
}

.ethics {
    background: #009245;
    height: 1027px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.ethics button {
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smash-img {
    width: 920px;
    height: 520px;
    margin: 20px auto;
}

.person-week {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.week {
    margin: 0 20px;
    border: 2px solid black;
}

.week1 {
    height: 350px;
    flex: 1;
}

.week2 {
    height: 250px;
    flex: 3;
}

.list-heros {
    height: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.heros {
    height: 300px;
    border: 2px solid black;
}

.hero1,
.hero2,
.hero3,
.hero4,
.hero5,
.hero6 {
    flex-basis: 600px;
}

.twitter-link {
    margin: 70px 500px;
    text-align: center;
}

.twitter-link a {
    text-decoration: none;
    text-transform: uppercase;
    font: 400 18px/22px 'Roboto', sans-serif;
    color: #666;
    border-bottom: 5px solid #d33a2c;
    padding-bottom: 10px;
}

.twitter-link a:hover {
    color: #d33a2c;
}

.books {
    position: relative;
    height: 400px;
    background: #d33a2c;
    margin-bottom: 100px;
}

.book-img {
    width: 300px;
    height: 405px;
    position: absolute;
    top: -100px;
    right: 60px;
}

.btn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    background: #fff;
    padding: 18px 25px;
    font: 700 25px/22px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #267dcc;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn:hover {
    color: #d33a2c;
}

.inner-sect h4 {
    color: #333333;
    font-weight: lighter
}

.inner-sect p {
    font: 770 25px Arial, Helvetica, sans-serif;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 33px;
    letter-spacing: 1px;
}

.list-div {
    margin-left: 50px;
    list-style: none;
    font-size: 24px;
}

.list-div li::before {
    content: "\2022";
    color: #d33a2c;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.list-div li {
    margin-top: 22px;
    color: #267dcc;
    text-decoration: underline #267dcc;
    cursor: pointer;
}

.meow-cat {
    padding-top: 1em;
    margin-top: 120px;
    height: 300px;
    width: 100%;
}

.newsletter {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.letters {
    height: 800px;
}

.n-letter1 {
    flex: 1;
}

.n-letter1 h4 {
    color: #333333;
    font-weight: lighter
}

.n-letter1 p {
    font: 770 25px Arial, Helvetica, sans-serif;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 33px;
    letter-spacing: 1px;
}

.n-letter2 {
    position: relative;
    flex: 2;
    background: #d33a2c;
    border-radius: 10px;
}

.letter-btn {
    position: absolute;
    left: 200px;
    bottom: 120px;
    width: 450px;
    height: 60px;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#email {
    border-right: 1px solid #999;
    padding-right: 60px;
    line-height: 60px;
    margin-left: -60px;
    cursor: pointer;
}

#subscribe {
    padding-left: 40px;
    margin-right: -20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #267dcc;
}

.all-articles {
    margin: 300px 500px 100px 500px;
    text-align: center;
}

.all-articles a {
    text-decoration: none;
    text-transform: uppercase;
    font: 400 18px/22px 'Roboto', sans-serif;
    color: #666;
    border-bottom: 5px solid #d33a2c;
    padding-bottom: 10px;
}

.all-articles a:hover {
    color: #d33a2c;
}

.mega-topics {
    height: 700px;
    background: #d33a2c;
}

.mega-topics h4 {
    text-transform: uppercase;
    font: 700 16px/22px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 70px;
    word-spacing: 5px;
}

.mega-topics p {
    color: #fff;
    word-spacing: 5px;
    font: 18px/26px 'Times New Roman', Times, serif;
}

.mega-topics p a {
    color: #fff;
}

.variety-lists {
    padding: 40px 30px;
    text-align: center;
    text-decoration: none;
}

.variety-lists li {
    display: inline;
    text-decoration: none;
}

.variety-lists li a {
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    line-height: 2.2em;
    margin-right: 7px;
}

.variety-lists li a::before {
    content: "\2022";
    color: #6a1d16;
    font-size: 30px;
    font-weight: bold;
    margin-right: 9px;
}

.footer-nav {
    margin-right: 10px;
    margin-top: -40px;
    font: 18px/39px 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}