* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #d33a2c;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 150px;
    flex-basis: 25%;
    border: 2px solid white;
    margin: 10px;
}

.first-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    background: #94291f;
    height: 500px;
    flex: 1;
}

.right {
    background: #a92f23;
    height: 500px;
    flex: 1;
}