* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #d33a2c;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 150px;
    flex-basis: 25%;
    border: 2px solid white;
    margin: 10px;
}

.first-section {
    position: relative;
}

.cla {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#abs {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 480px;
    color: black;
    background: white;
    text-align: center;
    word-spacing: 20px;
    padding: 0.3em 0.4em;
    line-height: 1.5em;
    box-decoration-break: clone;
}

.first-section button {
    position: absolute;
    top: 30px;
    right: 100px;
    padding: 10px 30px;
    border-radius: 7px;
}

.left {
    background: #94291f;
    height: 700px;
    flex: 1;
}

.right {
    background: #a92f23;
    height: 700px;
    flex: 1;
}

.second-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left2 {
    background: #6a1d16;
    height: 550px;
    flex: 1;
}

.right2 {
    background: #94291f;
    height: 550px;
    flex: 1;
}

.third-section {
    margin: 20px 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 600px;
}

.inner-sect {
    border: 2px solid black;
}

.fourth-article {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.inner-fourth {
    margin: 0 20px;
}

.fourth1 {
    height: 350px;
    border: 2px solid black;
    flex: 1;
}

.fourth2 {
    height: 600px;
    border: 2px solid black;
    flex: 2;
}

.article-grid,
.article-flex {
    margin-top: 70px;
}

.ethics {
    background: #009245;
    height: 1027px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.ethics button {
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.smash-img {
    width: 920px;
    height: 520px;
    margin: 20px auto;
}

.person-week {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.week {
    margin: 0 20px;
    border: 2px solid black;
}

.week1 {
    height: 350px;
    flex: 1;
}

.week2 {
    height: 250px;
    flex: 3;
}

.list-heros {
    height: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.heros {
    height: 300px;
    border: 2px solid black;
}

.hero1,
.hero2,
.hero3,
.hero4,
.hero5,
.hero6 {
    flex-basis: 600px;
}

.twitter-link {
    margin: 70px 500px;
    text-align: center;
}

.twitter-link a {
    text-decoration: none;
    text-transform: uppercase;
    font: 400 18px/22px 'Roboto', sans-serif;
    color: #666;
    border-bottom: 5px solid #d33a2c;
    padding-bottom: 10px;
}

.twitter-link a:hover {
    color: #d33a2c;
}

.books {
    position: relative;
    height: 400px;
    background: #d33a2c;
    margin-bottom: 100px;
}

.book-img {
    width: 300px;
    height: 405px;
    position: absolute;
    top: -100px;
    right: 60px;
}

.btn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    background: #fff;
    padding: 18px 25px;
    font: 700 25px/22px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #267dcc;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    /* transform: (-13deg); */
}

.btn:hover {
    color: #d33a2c;
}

.curated-post {
    margin: 20px 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 600px;
}

.post-list {
    border: 2px solid black;
}